// Poppins - Regular
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Poppins - 600
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/poppins-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Poppins - 700
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/poppins-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Source Sans 3 - Variable
@font-face {
  font-family: 'Source Sans 3';
  src: url('../../public/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// Fira Code
@font-face {
  font-family: 'Fira Code';
  src: url('../../public/fonts/fira-code-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
