.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;



  &__content {
    flex: 1; // Prend tout l'espace disponible
    // padding-top: var(--navbar-height); // À décommenter si navbar fixe
  }
}
